$min_width: 320px;
$max_width: 900px;
$ms_tablet: 768px;

$lv_0: #777777;
$lv_1: #1976d3;
$lv_2: #039be6;
$lv_3: #00acc2;
$lv_4: #388e3d;
$lv_5: #fb8c00;
$lv_6: #e64a19;
$lv_7: #d32f2e;
$lv_8: #212121;

$logo: #feab32;
$purple: #664a9e;
$tx_btn: #979797;
$bg: #212121;
$bg_btn: #000005d9;
$bg_hover: #343434;
$lightblue: #3ea6ff;
$white: #ffffff;

[data-theme="light"] {
  --bg: #f9f9f9;
  --bg_hover: #f2f2f2;
  --tx: #030303;
}

[data-theme="dark"] {
  --bg: #212121;
  --bg_hover: #343434;
  --tx: #ececec;
}

@mixin topLv {
  width: clamp($min_width, 100%, 100%);
  min-height: 100vh;
  height: 100%;
  background-color: var(--bg);
  word-break: keep-all;
}

@mixin wrapper {
  margin: 3rem auto;
  padding: 0 0.5rem;
  color: var(--tx);
  max-width: $max_width;
}
