@use "./global" as *;

.About {
  @include topLv;
  .wrapper {
    @include wrapper;
    h2 {
      margin: 0;
      padding-bottom: 2rem;
      border-bottom: 1px solid $tx;
    }
    h3,
    h4 {
      margin: 2rem auto 0.5rem;
    }
    .scaleEight {
      border-collapse: collapse;
      overflow: hidden;
      display: block;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .icons {
        font-size: 2rem;
      }
      tr {
        width: 100%;
        border-bottom: 2px solid $tx;
        color: $tx;
        &:first-child {
          border-top: 2px solid $tx;
        }
        td:nth-child(1) {
          background-color: $purple;
        }
        td:nth-child(2) {
          background-color: $lv_1;
        }
        td:nth-child(3) {
          background-color: $lv_2;
        }
        td:nth-child(4) {
          background-color: $lv_3;
        }
        td:nth-child(5) {
          background-color: $lv_4;
        }
        td:nth-child(6) {
          background-color: $lv_5;
        }
        td:nth-child(7) {
          background-color: $lv_6;
        }
        td:nth-child(8) {
          background-color: $lv_7;
        }
        td:nth-child(9) {
          background-color: $lv_8;
        }
        td {
          padding: 0.5rem 1rem;
          width: 11%;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
    .scaleFour {
      border-collapse: collapse;
      overflow: hidden;
      display: block;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .icons {
        font-size: 2rem;
      }
      tr {
        border-bottom: 2px solid $tx;
        color: $tx;
        &:first-child {
          border-top: 2px solid $tx;
        }
        td:nth-child(1) {
          background-color: $purple;
        }
        td:nth-child(2) {
          background-color: $lv_2;
        }
        td:nth-child(3) {
          background-color: $lv_4;
        }
        td:nth-child(4) {
          background-color: $lv_5;
        }
        td:nth-child(5) {
          background-color: $lv_7;
        }
        td {
          padding: 0.5rem 2.25rem;
          width: 11%;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
  }
}
