@use "./global" as *;

.Bookmark {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: $max_width;
  margin: 1rem auto;
  button {
    border: 2px solid white;
    border-radius: 1rem;
    background: none;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
  }
}
