@use "./global" as *;

.Lnb {
  width: 100%;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 3rem;
  background-color: $bg;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon {
    cursor: pointer;
  }
  .current {
    font-size: 1rem;
    font-weight: bold;
  }
}
