@use "./global" as *;

.NotFound {
  @include topLv;
  .NotFoundText {
    @include wrapper;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .icon {
      font-size: 5rem;
    }
    span {
      text-align: center;
    }
  }
}
